fastapi
uvicorn
python-dotenv
pydantic
SQLAlchemy
psycopg2-binary
jwt
PyJWT
beautifulsoup4
requests
langchain
langchain_community
langchain-huggingface
langchain_chroma
langchain_text_splitters
langchain_groq
reportlab
jq
langgraph
pydantic[email]
passlib
python-multipart
emails
python-jose
ipython
# pypdf
# pytesseract 
# pillow
# pdf2image
langchain-google-genai
pymupdf
